html, body{
    font-family: "Trebuchet MS", Avenir, curier;
    text-align:center;
    min-width:310px;
    color:#000;
  }
  #main{
    margin:25px auto;
    padding:20px;
    border:0px solid;
    border-radius:9px;
    background: white;
  }
  img{
    max-width: 50%; 
    display: blue; 
    height: auto;
    margin: auto;
  }
  #img-div{
    margin:-10px;
    margin-top:20px;
    width:50%;
    border:5px white;
    background: white;
  }
  ul{
    max-width:750px;
    margin:5 auto;
    text-align: left;
  li
  {
    margin: 20px;
  }